@font-face{
  font-family: 'italic';
  src: url('/birthday/italic.woff') format('woff');
}
html {
  --main-color: #EF6701;
  --waffle-width: 660px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 30px 'PT Mono';
  color: #1A1A1A;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  position: relative;
}

.container-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(2deg) translate(-50%, -50%);
  width: 70%; 
  background: #0000001f;
  padding: 30px;
}
.container-inner p {
  font-size: 3vw;
}

img {
  max-width: 100%;
}
p {
  margin: 0;
  padding: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transform: scaleX(2);
  transform-origin: left;
  color: transparent;
  text-transform: uppercase;
}

.waffle-container {
  width: var(--waffle-width);
  position: relative;
  transition: .1s;
}
.waffle-container img{
  transform: scaleX(-1);
}

.date-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--main-color);
  z-index: 2;
  padding: 60px;
  padding-top: 45px;
  
  mix-blend-mode: luminosity;
}

.date-container p:nth-child(1){
  font-size: 1rem;
}
.date-container p:nth-child(2){
  font-size: 1.3rem;
}
.date-container p:nth-child(3){
  font-size: 1.6rem;
}
.date-container p:nth-child(4){
  font-size: 2rem;
}
.date-container p:nth-child(5){
  font-size: 2.3rem;
}
.date-container p:nth-child(6){
  font-size: 3.3rem;
}
.date-container p:nth-child(7){
  font-size: 2.7rem;
}
.date-container p:nth-child(8){
  font-size: 3.3rem;
}
.date-container p:nth-child(9){
  font-size: 1.65rem;
}
.date-inner {
  font-family: 'italic', sans-serif;
}

.emoji {
  color: inherit;
  mix-blend-mode: color-dodge;
}

/* big screens */
@media screen and (min-width: 1200px) {
  .container-inner p {
     font-size: 40px;
  }
}
.text-shadow {
  text-shadow: 2px 5px 0px #000000fa;
}
/* mobile */
@media screen and (max-width: 650px) {
  :root {
    --waffle-width: 350px;
  }
  .date-inner p {
    font-size: 13px !important;
    letter-spacing: 1px;
  }
  .text-shadow {
    text-shadow: none;
  }
  .date-container {
    display: flex;
    padding: 32px;
    padding-top: 40px;
    line-height: 1.8;
  }
  .waffle-container {
    transition: none;
  }
}