$basic: #4B4B4B;

@font-face {
  font-family: "Marvin Visions";
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1147877/MarvinVisionsGX-subset.woff2) format("woff2");
  font-style: normal;
}

p {
    text-align: center;
    max-width: 60vw;
    line-height: .75;

    // &::selection {
    //     background: red;
    // }
}

.animated {
    animation: color-size 3s alternate infinite;
    
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.2s};
        }
    }
}

.container {
    background: #232323;
    color: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    font-family: "Marvin Visions";
    font-size: 9vmin;
    font-variation-settings: "wght" 0
}

h1 {
    font-size: .5em;
    font-variation-settings: "wght" 0;
    line-height:.8;
    
    animation: size 10s alternate infinite;
}

@each $color in red, blue, yellow, white {

  .team-#{$color} {
    animation: 3s fadeTo#{$color} alternate infinite ease;
  }

  @keyframes fadeTo#{$color} {
    from {
      color: inherit;
      font-variation-settings: "wght" 20;
    }
    to {
      color: #{$color};
      font-variation-settings: "wght" 170;
    }
  }
}

.team-yellow {
  animation-delay: 5s;
}



@keyframes size {
    from {
        font-variation-settings: "wght" 00;
    }
    to {
        font-variation-settings: "wght" 170;
    }
  }

@keyframes color-size {
  from {
      color: $basic;
      font-variation-settings: "wght" 00, "opsz" 80;
  }
  to {
      color: yellow;
      font-variation-settings: "wght" 170, "opsz" 80;
  }
}