$font-stack:    Helvetica, sans-serif;
$base-color: #4350B6;
$secondary-color: #B2B5B6;
$third-color: #F84742;

$color-shadow: #000;
$color-bg: $secondary-color;
$color-text: $base-color;
$color-highlight: $third-color;
$color-shadow: $third-color;
$link-color: $third-color;

.container {
  min-height: 100vh;
  background: $color-bg;
  color: $base-color;
  font-family: 'Aeroport', sans-serif;
  font-size: 50px;
  cursor: url("/teaching/cursor.png"), auto;
}

.slide {
  min-height: 100vh;
  position: relative;
  border-bottom: 3px dashed $base-color;
  overflow: hidden;

  &_vh-centered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  &_h-centered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &_v-centered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.highlight {
  color: $color-highlight;
}

.window-small {
  display: inline-block;
  position: relative;
  z-index: 100;
  padding: .5em;
  margin: .5em;
  background: white;
  border: 1px solid black;
  box-shadow: 10px 10px 0px black;
  color: black;
}

.window-img-wrapper {
  padding: 0;
  img {
    max-width: 300px;
  }
  &_medium {
    img {
      max-width: 600px;
    }
  }
}

.pop-out {
  position: absolute;
}

.img {
  &-earth {
    transform: scale(4);
    mix-blend-mode: saturation;
  }
  &-baby {
    transform: scale(3);
    mix-blend-mode: saturation;
  }
}

.heading {
  font-weight: bold;
  font-size: 1.2em;
}

.font-task {
  font-style: italic;
  font-size: .8em;
}

a {
  color: $link-color;
  cursor: inherit;
  transition: .3s;
  &:hover {
    color: inherit;
  }
  img {
    filter: grayscale(100%);
    transition: .3s;
    &:hover {
      filter: none;
    }
  }
}



